.shimmer-card{
    width: 200px;
    height: 500px;
    margin: 10px;
    background-color: lightgray;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-items > ul{
    list-style: none;
    display: flex;
}

.nav-items > ul > li{
    padding: 20px;
    font-size: 18px;
    cursor: pointer;
}

.nav-items > ul > li > a{
    text-decoration: none;
    color: black;
}

.nav-items > ul > li :hover{
    color: rgb(238, 127, 64);
}

.login-btn{
    background-color: rgb(238, 127, 64) !important;
    color: black !important;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    cursor: pointer;
}

.logo{
    width: 100px;
}

.search-container{
    margin: 20px 10px;
}

.card{
    width: 200px;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    height: 430px;
}

.card > img{
    width: 100%;
}

.restaurant-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 20px 100px;
}

.restaurant-list :hover{
    animation: zoom-out 1.5s ease-out;
}

.restaurant-list > a{
    text-decoration: none;
    color: black;
}

/* Restaurant Menu Styles */
/* Restaurant Menu Styles */
.menu {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Helvetica,Arial, sans-serif;
}
  
.restaurant-detail {
    background-color: #f2f2f2;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

  .rest-title{
    text-align: center;
    font-size: 40px !important;
  }
  
  .restaurant-detail h1,
  .restaurant-detail h2,
  .restaurant-detail h3,
  .restaurant-detail h4,
  .restaurant-detail h5,
  .restaurant-detail h6 {
    margin-bottom: 8px;
  }
  
  .restaurant-detail img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    max-height: 190px !important;
  }
  
  .restaurant-menu {
    width: 100%;
  }

  .restaurant-menu > h1{
    text-align: center;
    font-size: 30px !important;
  }
  
  .menu h1 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .menu h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .menu h3 {
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  .menu h4 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  .item-desc {
    font-size: 14px;
    margin-bottom: 15px;
    margin-left: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
  }
  
  .menu li {
    margin-bottom: 10px;
  }
  
  .menu img {
    max-width: 100%;
    max-height: 150px; /* Adjust the height as needed */
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  .item-content{
    display: flex;
  }

/* End of Restaurant Menu Styles */

.foot{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 127, 64);
    border-radius: 5px;
    font-family: sans-serif;
}

.foot a{
    text-decoration: none;
    color: white;
}

/* Animations */

@keyframes zoom-out {
    0% {
      transform: scale(1, 1);
    }
    100% {
      transform: scale(0.98, 0.98);
    }
  }